@charset "utf-8";
/*CSS Reset*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, img,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,canvas,a
{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;list-style:none;box-sizing:border-box;}
html {height:100%;}
body {line-height: 1;height:100%;
font:62.5% 'Hiragino Pro W3','Hiragino Kaku Gothic Pro',Meiryo,'MS Gothis UI',sans-serif;}
table {border-collapse: collapse;border-spacing: 0;}
div{text-align:left;}
input, select {vertical-align: middle;margin: 0;padding: 0;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}


body{
	background:#eee;
	padding:10px 20px;
	font-size:1.0em;
	color:#666;
	orver-flow:auto;
}

button.button{
	background:#f3f3f3;
	border-radius:3px;
	padding:0 5px;
	color:#333;
	border:1px solid #aaa;
	height:25px;
	font-size:0.8em;
	corsor:pointer;
}
button:hover{
	background:#fff;
	border-color:#ccc;
}